body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

.lyrics-input,
.loading {
    text-align: center;
}

.lyrics-input,
.lyrics-output {
    margin: 1em auto;
    padding: 2em 1.5em;
    border-radius: 0.8em;
    background: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    max-width: 40em;
}

.lyrics-input h1 {
    margin: 0em 0 1em 0;
}

.input-wrap {
    display: flex;
    align-items: center;
    padding: 0.5em;
    max-width: 15em;
    margin: 1.5em auto;
    border: 1px #d1d1d1d1 solid;
    border-radius: 0.3em;
}

.input-wrap input {
    width: 100%;
    border: none;
    margin-left: 0.5em;
    font-size: 0.9em;
}

.input-wrap input:focus {
    outline: none;
    /* removes the blue outline when you click on the input box*/
}

.fetchBtn {
    background: rgb(251, 181, 106);
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
    font-size: 1.1em;
    transition: 0.3s;
    cursor: pointer;
}

.fetchBtn:hover {
    background: rgb(245, 140, 255);
}

.lyrics-output,
.loading {
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.lyrics-output pre {
    font-size: 1.1em;
}